<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">JobFinder</a>
      <a href="home" class="d-flex align-items-center text-white text-decoration-none ">
        <span>Home</span>
      </a>      <div class="dropdown">
        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          <span>User Name</span>
        </a>
        
        <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
          <li><a class="dropdown-item" href="appliedJobs">my Applications</a></li>
          <li><a class="dropdown-item" href="userprofile">Profile</a></li>
          <li><a class="dropdown-item" href="logout">Logout</a></li>
        </ul>
      </div>
    </div>
  </nav>