<%- include('./partials/header')%>

</head>
<body class="bg-light d-flex align-items-center justify-content-center" style="height: 100vh;">

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-10 col-sm-8 col-md-6 col-lg-4">
        <div class="card shadow-sm border-0 rounded-2">
          <div class="card-body p-3">
            <h4 class="text-center mb-3">Sign Up</h4>
            <form action="/user/add" method="post">
              <!-- First Name -->
              <div class="mb-2">
                <input type="text" class="form-control" id="firstName" name="firstName" placeholder="First Name" required>
              </div>
              <!-- Last Name -->
              <div class="mb-2">
                <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Last Name" required>
              </div>
              <!-- Email -->
              <div class="mb-2">
                <input type="email" class="form-control" id="email" name="email" placeholder="Email" required>
              </div>
                          <!-- Date of Birth -->
              <div class="mb-2">
                <input type="date" class="form-control" id="dob" name="dateOfBirth" required>
              </div>
              <!-- Phone Number -->
              <div class="mb-2">
                <input type="tel" class="form-control" id="phone" name="phone" placeholder="Phone Number" pattern="[0-9]{8}" title="Please enter an 8-digit phone number" required>
              </div>
              <!-- Password -->
              <div class="mb-2">
                <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
              </div>
              <!-- Submit Button -->
              <button type="submit" class="btn btn-primary w-100 mt-2">Sign Up</button>
            </form>
            <p>Already have an account! <a href="login" class="link">Log in</a></p>
            <p>I'm a <a href="/company/signup" class="link">company!</a></p>

          </div>
        </div>
      </div>
    </div>
  </div>


</body>
</html>
